* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "OpenSans";
	src: url("https://github.com/BadmaV/mq-diplom/blob/master/fonts/OpenSans-Regular.woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("https://github.com/BadmaV/mq-diplom/blob/master/fonts/OpenSans-Bold.woff");
	font-weight: bold;
	font-style: normal;
}

body {
	font-family: "OpenSans", sans-serif;
	color: #000000;
	min-width: 320px;
}

.html {
	font-size: 62.5%;
}

/*-----HEADER------*/

.header {
	background-image: url("../img/football_767.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
	width: 320px;
	margin: 0 auto;
	padding-top: 33px;
	padding-bottom: 83px;
	
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
}

.header::after {
	content: "";
	position: absolute;
	background-color: #1d1a39;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.9;
	z-index: 1;
}

.container {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 2;
}

.logo {
	width: 134px;
	height: 36px;
	align-self: center;
	margin-bottom: 136px;
	z-index: 2;
}

.header-text {
	font-weight: 700;
	z-index: 2;
}

.header-title {
	font-size: 28px;
	margin-bottom: 21px;
}

.header-slogan {
	font-size: 28px;
	margin-left: 47px;
}

.download-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	font-size: 8px;
	margin-top: 89px;
	z-index: 2;
}

.download-link {
	display: block;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	background-color: #5e42b0;
	border-radius: 17px;
	text-decoration: none;
	color: #ffffff;
}

.download-button {
	display: flex;
	margin-left: 82px;
	align-items: center;
}

.download-svg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 20px;
	height: 25px;
	margin-right: 9px;
	fill: #ffffff;
}

.download-item {
	font-weight: bold;
	margin-top: 5px;
}

/*-----HEADER------*/

.main {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
}

.athlets-title {
	color: #e7e7e7;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 20px;
}

.athlets-image {
	max-width: 100%;
	height: auto;
}

.article-wrapper {
	margin-top: -54px;
}

.athlets-content {
	padding-top: 60px;
	padding-bottom: 55px;
}

.athlets-content:first-child {
	background-color: #fafafa;
	padding-top: 83px;
}

.athlets-content:nth-child(2) {
	background-color: #f5f4f9;
}

.athlets-content:last-child {
	background-color: #5e42b0;
}

.subtitle-wrapper {
	display: flex;
}

.subtitle-number {
	display: block;
	font-size: 14px;
	font-weight: 700;
	margin-right: 10px;
	position: relative;
}

.subtitle-number::before {
	content: "";
	position: absolute;
	left: 0;
	top: 17px;
	width: 14px;
	height: 4px;
	border-radius: 2px;
	background-color: #5e42b0;
}

.white-underline::before {
	content: "";
	position: absolute;
	left: 0;
	top: 17px;
	width: 14px;
	height: 4px;
	border-radius: 2px;
	background-color: #ffffff;
}

.subtitle {
	font-size: 23px;
	color: #e7e7e7;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 27px;
}

.article-text {
	font-size: 15px;
	line-height: 18px;
}

.article-text-white {
	color: #ffffff;
}

.players {
	padding-top: 22px;
}

.article-post {
	padding-bottom: 78px;
}

.purpose-image {
	display: flex;
	width: 100%;
	height: auto;
}

.square-number-wrapper {
	position: relative;
}

.square-number {
	position: absolute;
	bottom: -12px;
	left: 20px;
	display: flex;
	width: 70px;
	height: 70px;
	background-color: #5e42b0;
}

.number-item {
	position: relative;
	margin: auto;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}

.number-item::after {
	content: "";
	position: absolute;
	top: 19px;
	left: 0;
	width: 15px;
	height: 4px;
	border-radius: 2px;
	background-color: #8f7bc8;
}

.purpose-title {
	font-size: 28px;
	color: #eaeaea;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 35px;
	margin-bottom: 24px;
}

.purpose-text {
	font-size: 16px;
}

