* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "OpenSans-regular";
	src: "C:\Users\у\netology_diplom\fonts";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans-bold";
	src: url("../fonts/OpenSans-Bold.woff");
	font-weight: bold;
	font-style: normal;
}

body {
	font-family: "OpenSans", sans-serif;
	font-size: 15px;
	color: #000000;
}

.header {
	padding-top: 33px;
	background-image: url("../img/football_767.jpg");
	background-size: cover;
	color: #ffffff;
	text-transform: uppercase;
	width: 320px;
	margin: 0 auto;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

.logo {
	width: 134px;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 136px;
}

.header-slogan {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 31px;
}

.header-title {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 90px;
}

.download-wrapper {
	display: flex;
}

.download-list {
	font-size: 8px;
	list-style: none;
	justify-content: center;
}

.download-text {
	font-weight: 400;
}

.download-link {
	font-weight: 700;
	text-decoration: none;
	color: #ffffff;
}

