* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "OpenSans";
	src: url("https://github.com/BadmaV/mq-diplom/blob/master/fonts/OpenSans-Regular.woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("https://github.com/BadmaV/mq-diplom/blob/master/fonts/OpenSans-Bold.woff");
	font-weight: bold;
	font-style: normal;
}

body {
	font-family: "OpenSans", sans-serif;
	color: #000000;
	min-width: 320px;
}

.html {
	font-size: 62.5%;
}

/*--------- HEADER ----------*/

.header {
	background-image: url("../img/football_767.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
	margin: 0 auto;
	padding-top: 10.6%;
	padding-bottom: 25.9%;
	
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
}

.header::after {
	content: "";
	position: absolute;
	background-color: #1d1a39;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.9;
	z-index: 1;
}

.container {
	display: flex;
	flex-direction: column;
	padding-left: 6.25%;
	padding-right: 6.25%;
	z-index: 2;
}

.logo {
	width: 134px;
	height: 36px;
	align-self: center;
	margin-bottom: 136px;
	z-index: 2;
}

.header-text {
	display: flex;
	justify-content: center;
	font-weight: 700;
	z-index: 2;
}

.header-title {
	font-size: 28px;
	letter-spacing: 1px;
}

.header-slogan {
	display: block;
	font-size: 28px;
	margin-top: 15px;
	margin-left: 1.68em;
}

.download-wrapper {
	display: flex;
	flex-wrap: wrap;
	text-transform: uppercase;
	font-size: 0.5em;
	margin-top: 89px;
	z-index: 2;
}

.download-link {
	display: block;
	width: 100%;
	padding: 5px calc(50% - 56px);
	background-color: #5e42b0;
	border-radius: 17px;
	text-decoration: none;
	color: #ffffff;
}

.download-link:first-child {
	margin-bottom: 15px;
}

.download-button {
	display: flex;
	align-items: center;
}

.download-svg {
	width: 20px;
	height: 25px;
	margin-right: 9px;
	fill: #ffffff;
}

.download-item {
	display: block;
	font-weight: bold;
	margin-top: 5px;
}

/*--------- / HEADER ----------*/

/*---------- MAIN ----------*/

.main {
	margin-left: auto;
	margin-right: auto;
}

.athlets-title {
	color: #e7e7e7;
	text-transform: uppercase;
	font-size: 3.13em;
	font-weight: 700;
	margin: 25px 0 20px 20px;
}

.athlets-image {
	display: flex;
	margin: auto;
}

.article-wrapper {
	margin-top: -54px;
}

.athlets-content {
	padding-top: 60px;
	padding-bottom: 55px;
}

.athlets-content:first-child {
	background-color: #fafafa;
	padding-top: 83px;
}

.athlets-content:nth-child(2) {
	background-color: #f5f4f9;
}

.athlets-content:last-child {
	background-color: #5e42b0;
}

#dark-background {
	background-color: #090c35;
}

.subtitle-wrapper {
	display: flex;
}

.subtitle-number {
	display: block;
	font-size: 14px;
	font-weight: 700;
	margin-right: 10px;
	position: relative;
}

.purple {
		color: #8765dd;
	}

.subtitle-number::before {
	content: "";
	position: absolute;
	left: 0;
	top: 17px;
	width: 14px;
	height: 4px;
	border-radius: 2px;
	background-color: #5e42b0;
}

.white-underline::before {
	content: "";
	position: absolute;
	left: 0;
	top: 17px;
	width: 14px;
	height: 4px;
	border-radius: 2px;
	background-color: #ffffff;
}

.subtitle {
	font-size: 23px;
	color: #e7e7e7;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 27px;
}

.article-text {
	font-size: 15px;
	line-height: 18px;
}

.article-text-white {
	color: #ffffff;
}

.players {
	padding-top: 22px;
}

.article-post {
	padding-bottom: 78px;
}

.purpose-image {
	display: flex;
	width: 100%;
	height: auto;
}

.square-number-wrapper {
	position: relative;
}

.square-number {
	position: absolute;
	bottom: -12px;
	left: 20px;
	display: flex;
	width: 70px;
	height: 70px;
	background-color: #5e42b0;
}

.number-item {
	position: relative;
	margin: auto;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}

.number-item::after {
	content: "";
	position: absolute;
	top: 19px;
	left: 0;
	width: 15px;
	height: 4px;
	border-radius: 2px;
	background-color: #8f7bc8;
}

.purpose-title {
	font-size: 28px;
	color: #eaeaea;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 35px;
	margin-bottom: 24px;
}

.purpose-text {
	font-size: 1em;
}

/*---------/ MAIN -----------*/

/*--------- FOOTER ----------*/

.footer {
	margin: 0 auto;

	background-image: url("../img/game_767.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	padding-top: 99px;
	padding-bottom: 5px;
	position: relative;
	color: #ffffff;
	z-index: 1;
}

.footer::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #081a43;
	opacity: 0.9;
	z-index: 1;
}

.footer-logo-frame {
	display: flex;
	width: 74px;
	height: 74px;
	background-image: linear-gradient(#7756d7, #50379b);
	border-radius: 12px;
	z-index: 2;
	align-self: center;
	margin-bottom: 60px;
}

.footer-logo {
	margin: auto;
	fill: #ffffff;
	width: 57px;
	height: 48px;
}

.footer-title-wrapper {
	display: flex;
	flex-direction: column;
	align-self: center;
	text-transform: uppercase;
	z-index: 2;
}

.footer-title {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 12px;
}

.footer-tagline {
	font-size: 14px;
	opacity: 0.5;
}

.download-footer {
	margin-top: 77px;
}

.footer-logotyp {
	margin-top: 81px;
	margin-bottom: 5px;
}

/*----------- / FOOTER -----------*/

/*------------ TABLET ------------*/ 

@media (min-width: 768px) and (max-width: 1919px) {
	.header {
		padding-bottom: 11.8%;
	}

	.container {
		padding-right: 3.94%;
		padding-left: 3.94%;
	}

	.logo {
		width: 207px;
		height: 57px;
		margin-bottom: 182px;
	}

	.header-text {
		display: flex;
	}

	.header-title {
		font-size: 4em;
		margin-left: 8%;
	}

	.header-slogan {
		display: block;
		font-size: 1em;
		margin-top: 0;
	}
	
	.download-wrapper {
		flex-wrap: nowrap;
		justify-content: center;
		margin-top: 312px;
	}

	.download-link {
		width: 310px;
		padding: 16px 0 18px;
		border-radius: 40px;
		font-size: 14px;
	}

	.download-link:first-child {
		margin-right: 30px;
		margin-bottom: 0;
	}

	.download-button {
		justify-content: center;
	}

	.download-svg {
		width: 36px;
		height: 42px;
		margin-right: 28px;
	}

	/*---- tablet main ----*/

	.athlets {
		position: relative;
	}

	.tablet-athlets-title {
		position: absolute;
		top: 45px;
		left: 310px;
		font-size: 5em;
		z-index: 3;
	}

	.athlets-wrapper {
		display: flex;
		position: relative;
	}

	.athlets-image {
		position: absolute;
		top: 40px;
		left: -80px;
	}
	
	.article-wrapper {
		margin-top: 0;
	}

	.athlets-content {
		padding: 44px 0 40px;
	}

	.athlets-content:first-child {
		padding-top: 26.5%;
}

	.athlets-article-container {
		margin-left: 292px;
	}

	.subtitle-wrapper {
		width: 61%;
	}

	.subtitle-number {
		font-size: 18px;
		font-weight: 700;
		margin-top: 5px;
	}

	.subtitle-number::before {
		width: 21px;
		top: 21px;
	}

	.subtitle {
		margin-bottom: 33px;
		font-size: 2em;
	}

	.article-text {
		font-size: 18px;
		margin-right: 39%;
	}
	
	.players {
		padding-top: 0;
	}

	.players-image {
		top: 0px;
		left: 412px;
	}

  .square-number {
  	width: 118px;
  	height: 118px;
  	bottom: -35px;
  	margin-left: 10px;
  }

  .article-post {
  	padding-bottom: 100px;
  }

  .purpose-title {
  	font-size: 5em;
  	margin-top: 84px;
  	margin-bottom: 44px;
  }

  .purpose-text {
  	font-size: 1.5em;
  }

  .number-item {
  	position: relative;
  	font-size: 1.5em;
  }

  .number-item:after {
  	content: "";
		position: absolute;
  	width: 26px;
  	margin-top: 15px;
  }

  /*---- tablet footer ----*/

  .footer {
  	padding-top: 125px;
  }
	
	.footer-logo-frame {
		width: 139px;
		height: 139px;
		margin-bottom: 82px;
	}

	.footer-logo {
		width: 105px;
		height: 85px;
	}

	.footer-title {
		font-size: 5em;
		line-height: 55px;
		letter-spacing: 3px;
		margin-bottom: 28px;
	}

	.footer-tagline {
		font-size: 2.25em;
		margin: 0 auto;
	}

	.download-wrapper {
		margin-top: 288px;
	}

	.footer-logotyp {
		margin-top: 54px;
		margin-bottom: 24px;
	}

	.players {
		position: relative;
	} 

	.tablet-players-title {
		position: absolute;
		top: 45px;
		left: 30px;
		font-size: 5em;
		margin: 0;
		z-index: 2;
	}
}

/*--------- / TABLET ---------*/

/*--------- DESCTOP ----------*/

@media (min-width: 1920px) {
	.header {
		padding-top: 2.34%;
		padding-bottom: 5.7%;
	}

	.logo {
		width: 194px;
		margin-bottom: 15.36%;
	}

	.header-text {
		justify-content: flex-start;
		margin-left: 50px;
	}

	.header-title {
		font-size: 90px;
	}

	.header-slogan {
		font-size: 90px;
		margin-top: 0;
		margin-left: 452px;
	}

	.download-wrapper {
		flex-wrap: nowrap;
		justify-content: center;
		margin-top: 222px;
	}

	.download-link {
		width: 310px;
		padding: 16px 0 18px;
		border-radius: 40px;
		font-size: 14px;
	}

	.download-link:first-child {
		margin-right: 30px;
		margin-bottom: 0;
	}

	.download-button {
		justify-content: center;
	}

	.download-svg {
		width: 36px;
		height: 42px;
		margin-right: 28px;
	}

	.athlets {
		position: relative;
	}

	.tablet-athlets-title {
		position: absolute;
		top: 45px;
		left: 310px;
		font-size: 5em;
		z-index: 3;
	}

	.athlets-wrapper {
		display: flex;
		position: relative;
	}

	.athlets-image {
		position: absolute;
		top: 40px;
		left: -80px;
	}
	
	.article-wrapper {
		margin-top: 0;
	}

	.athlets-content {
		padding: 44px 0 40px;
	}

	.athlets-content:first-child {
		padding-top: 26.5%;
}

	.athlets-article-container {
		margin-left: 292px;
	}

	.subtitle-wrapper {
		width: 61%;
	}

	.subtitle {
		margin-bottom: 33px;
	}

	.article-text {
		margin-right: 39%;
	}
	
	.players {
		padding-top: 0;
	}

	.players-image {
		top: 0px;
		left: 412px;
	}

  .square-number {
  	width: 118px;
  	height: 118px;
  	bottom: -35px;
  	margin-left: 10px;
  }

	.athlets-content {
  	min-width: 100vw;
  }
}